body {
    background-image: url("/static/img/les_tuman_chb_157928_1920x1080.jpg");
    background-color: #1E1E1E;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row {
    background-color: rgba(255, 255, 255, 0.603);
    padding: 20px;
    text-align: center;
    border-radius: 13px;
    margin-bottom: 20px;
    width: 50vh;
    height: auto;
}

a {
    color: #1E1E1E;
    font-weight: 200;
    font-size: 1.7vh;
    padding-top: 0;
    padding-bottom: 3vh;
}

h2 {
    color: black;
    font-size: 5vh;
    font-weight: 200;
    margin-bottom: 5vh;
}

p {
    font-weight: 200; 
    margin-bottom: 4vh
}

button {
    background-color: #841414;
    color: white;
    font-size: 2.5vh;
    font-weight: 200;
    border-radius: 7px;
    margin-bottom: 1.5vh;
    margin-top: 3vh;
    padding: 5px;
    height: 7vh;
    width: 30vh;
    border: none;
}

