<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/logout_styles.css' %}"> 
    <title>LogOut</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2 class="row-title">Выход</h2>
            <p>Вы уверены, что хотите выйти?</p>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
            <a href="/profile/">Нет, хочу вернуться в профиль</a>
        </div>
    </div>
</body>
</html>