<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/reset_styles.css' %}"> 
    <title>ResetPassword</title>
</head>
<body>
    <div class="container-form">
        <div class="row-form">
                <h2 class="row-title">Смена пароля</h2>
                <p>Забыли пароль? Введите Ваш E-mail ниже и мы вышлем вам электронное письмо, позволяющее сбросить его.</p>
                
                <form method="post" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    <div class="row">
                        <input type="email" class="form-control" name="email" placeholder="E-mail" required>
                    </div>
                    <div class="row">
                        <button type="submit">Сменить пароль</button>
                    </div>
                    <div class="row"></div>
                        <a href="{% url 'account_login' %}">Я помню пароль</a>
                    </div>
                </form>
        </div>
    </div>
</body>
</html>