<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load account %}
    <p>Добро пожаловать, <b>{{ user.username }}</b>!<br><br>

        Пожалуйста, подтвердите свою электронную почту, перейдя <a href="{{ activate_url }}">по ссылке</a>.<br><br>
        
        Если вы не создавали учетную запись, проигнорируйте это письмо.<br>
        <br>
        <br>
        <br>
        <br>
        <br>
        С уважением,<br><br>
        Команда NEWSPORTAL</p>
</body>
</html>